## Les Bases de Python

Bienvenue dans ce tutoriel python et pandas !

Vous vous trouvez dans ce que l'on appelle un "notebook". Il s'agit d'un fichier mélangeant **texte** (comme ce paragraphe) et **code** (comme les cases ci-dessous qui ont des symboles '\[ \]' sur la gauche).

Le *code* désigne simplement des instructions écrites dans un language que votre ordinateur peut comprendre et éxecuter. Il existe différents languages - adaptés à différents usages - et celui de cet exercice est appelé **Python**. Python est un language accessible, puissant, et très populaire pour la manipulation des données.

Un notebook est interactif. Pour éxecuter une cellule, cliquez dessus, puis faites Shift+Enter. Essayez avec les cellules qui suivent !

In [ ]:
print("Bravo, c'est réussi !")

In [ ]:
test = 1 + 1

Dans la cellule ci-dessus, on a utilisé la fonction '*print(...)*'. Les fonctions en python permettent d'éxecuter des actions. Il en existe plein, pour différents usages, et on peut même créer les siennes ! Ici, la fonction '*print(...)*' est une fonction de base de python, qui permet d'afficher à l'écran ce qu'il y a entre parenthèse. Essayez vous-même d'afficher 'Hello World' en modifiant la cellule suivante :

In [ ]:
print("...")

On peut dès à présent commencer à créer et manipuler des variables. En python, une variable peut être un nombre, une chaîne de caractère, un tableau, ... Voici quelques exemples

In [ ]:
mon_nombre = 10
mon_tableau_de_chiffres = [1, 2, 3, 4]
ma_phrase = "Ceci est une chaîne de caractère, toujours définie entre des guillemets"
print(mon_tableau_de_chiffres)

On pourra faire appel à ces variables - et les modifier - plus tard en reprenant le nom qu'on leur a donné, comme suit :

In [ ]:
mon_nombre = mon_nombre + 2

In [ ]:
print(mon_nombre)

## Les bases de Pandas

Maintenant, rentrons dans le coeur du sujet : Pandas.
Pandas est une *librairie* python. Une librairie en programmation est une collection de code déjà écrit, et réutilisable tel quel par d'autres programmeur·euse·s. Pandas est une librairie de manipulation et d'analyse des données rapide, puissante, flexible, facile à utiliser et open source. Pour commencer à l'utiliser, il faut commencer par l'importer. L'import d'une librairie en python se fait de cette manière :

In [ ]:
import pandas

Oops ! Si c'est la première fois que vous utilisez pandas, un message d'erreur apparaît. En général, un message d'erreur nous indique à la fin des pistes pour résoudre notre problème. Ici, il nous dit ```ImportError: No module named pandas```. Cela signifie qu'il ne trouve pas la librairie pandas. Il nous faut donc la télécharger dans notre environnement. Pour ce faire, ré-ouvrez un nouveau terminal et lancez la comande : ```pip install pandas```. Une fois que c'est fait, vous pouvez re-run la cellule précédente (cliquer dessus et Shift+Enter), et il ne derait plus y avoir de soucis ! On passe donc à la suite.

Comme nous allons beaucoup utiliser cette librairie, il est d'usage de la renommer, ce qui se fait à l'aide du mot-clé **as**. L'usage veut qu'on la renomme ```pd```, mais on pourrait très bien choisir un autre nom, à la seule condition d'être consistant·e et de continuer à l'utiliser dans la suite du notebook.

In [ ]:
import pandas as pd

La libraire est maintenant téléchargée. On peut donc passer en revue différentes fonctionnalités. Pour les découvrir, nous allons prendre pour objectif d'explorer les données générées suite à la recherche de 'botanique' dans numistral. Ces données sont en format *csv*, qui est utilisé pour représenter des données tabulaires, appelées *Dataframe*.

Voici un exemple de chargement des données, à partir d'un csv

In [ ]:
df_test = pd.read_csv("./rapport_numistral_panda.csv", sep=';')

Et pour jeter un coup d'oeil aux premières lignes du dataframe :

In [ ]:
df_test.head()

Ce dataframe est celui généré après une recherche de 'panda' dans numistal, pour des tests. 

En suivant cet exemple, essayez de charger les données de votre recherche dans numistral en complétant le code ci dessous ! Le chemin vers le csv vous est donné. Essayez aussi d'afficher les premières lignes.

In [ ]:
CHEMIN_DF_NUMISTRAL = "./rapport_numistral_botanique.csv"
df = pd.read_csv(... , sep=';')
# A FAIRE EN DESSOUS : AFFICHER LES PREMIERES LIGNES DU DATAFRAME
...

Vous avez peut-être remarqué la syntaxe particulière pour afficher les premières lignes du dataframe. L'explication est la suivante : **df** est un objet de type *dataframe*. C'est lui qui contient toutes nos données. Sur cet objet **df**, on a appelé une fonction : **head()**. Les fonctions sont reconnaissables car elles se terminent par des parenthèses, parfois remplies, parfois vides. Tout comme le *print(...)* vu précedemment. Ce sont ces fonctions qui feront la majorité du travail !

Maintenant, on laisse un peu les fonctions de côté, et on passe à une autre fonctionnalité bien utile : la sélection de colonnes ou de lignes. Voici quelques exemples :

In [ ]:
# On sélectionne une colonne entière, en utilisant son nom
df['TITRE']

In [ ]:
# On sélectionne une ligne entière, en utilisant son numéro de ligne
df.iloc[0]

A partir des exemples ci-dessus, essayez à votre tour de sélectionner la colonne 'DATES' du dataframe, puis la deuxième ligne.

In [ ]:
# Ecrivez votre code en dessous :

## Fonctions plus avancées de Pandas

Maintenant que l'on connaît les fonctionnalités de base pour manipuler un dataframe, explorons d'autres fonctions qui permettent d'approfondir l'étude des données. Pour cette partie, on va se concentrer sur un objectif : étudier les auteurs et les dates qui figurent dans notre jeu de données.

Mais avant toute chose : une étape cruciale de la manipulation des données est le nettoyage de celles-ci. En regardant les premières lignes de notre DataFrame, on voit que certaines données manquent. Elles sont marquées par 'NaN' (=Not a Number). Heureusement, Pandas nous permet d'enlever les lignes comportant la valeur 'NaN' dans les colonnes de notre choix. Voici un exemple avec les auteurs :

In [ ]:
df = df.dropna(subset=['AUTEURS'])

Besoin d'un petit peu d'ordre dans ces dates ? Essayez d'utiliser la fonction *.sort_values()* pour ranger les dates de manières ascendente !

In [ ]:
# CODE EN DESSOUS :

Il est aussi possible très facilement de visualiser autrement ses données ! Par exemple avec la fonction *hist()*. Essayez là sur la colonne des dates, pour avoir une jolie surprise

============= APPROFONDISSEMENT : PETITES VISUALISATIONS AVEC D'AUTRES LIBRAIRIES =============

De multiples librairies peuvent être combinées ensemble pour différents usages. Par exemple, on va tester les Worldclouds. Attention, c'est une nouvelle librairie, il faut donc l'importer avec pip install !

In [ ]:
# On commence par l'import
import wordcloud

In [ ]:
# Essayez de comprendre et décortiquer ce que cette ligne fait
data = dict(zip(df['AUTEURS'].str[:10].tolist(), df['NOMBRE DE VUES'].tolist()))

In [ ]:
from wordcloud import WordCloud

wc = WordCloud(width=800, height=400, max_words=200).generate_from_frequencies(data)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 10))
plt.imshow(wc, interpolation='bilinear')
plt.axis('off')
plt.show()